@font-face {
  font-family: "OpenSans";

  src: url("../fonts/opensans.woff2"),
  url("../fonts/opensans.woff");

  src: url("../fonts/opensansbold.woff2"), url('../fonts/opensansbold.woff');

  src: url("../fonts/opensanslight.woff2"), url("../fonts/opensanslight.woff");
}
