@font-face {
    font-family: "Open Sans";

    src: url("/fonts/OpenSans-bold-webfont.woff2") format("woff2"),
    url("/fonts/OpenSans-bold-webfont.woff") format("woff");

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";

    src: url("/fonts/OpenSans-light-webfont.woff2") format("woff2"),
    url("/fonts/OpenSans-light-webfont.woff") format("woff");

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";

    src: url("/fonts/OpenSans-regular-webfont.woff2") format("woff2"),
    url("/fonts/OpenSans-regular-webfont.woff") format("woff");

    font-weight: normal;
    font-style: normal;
}
