$bg-grey: #f2f2f2;
$color-red: #d22856;
$darkblue: #283645; // main-nav темно-синий
$white: #ffffff;
$verydark-blue: #1d2631; //очень темно-синий
$black-transparent: rgba(0, 0, 0, 0.3);
$tablet-width: 660px;
$desktop-width: 1200px;
