.advertising__wrapper {
  display: inline-block;
  width: 100%;
  padding-top: 395px;

  background:
  url("../img/iphone-hand-mobile@1x.png"),
  url("../img/bg-back-mobile@1x.jpg");
  background-position: 0 29%, center -70px;
  background-repeat: no-repeat, no-repeat;
}

.advertising {
  width: 100%;

  text-align: center;
  color: #ffffff;
}

.advertising__title {
  display: inline-block;
  width: 260px;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 84px;
  padding: 0;

  font-size: 24px;
  line-height: 1.2;
  font-weight: lighter;
  vertical-align: top;
}

.advertising__title--form {
  margin-bottom: 55px;


}

@media (min-width: $tablet-width) {
  .advertising__wrapper {
    position: relative;

    display: block;
    padding-top: 618px;

    background-position: 80% 90%, center -70px;
    background-size: 400px, cover;
  }
}
