.advertising {
  width: 100%;
  text-align: center;
  color: #ffffff;

  background: url("../img/bg-back-mobile@1x.jpg");
  background-position: center -70px;
  background-repeat: no-repeat;
}

.advertising-image {
  display: inline-block;
  margin-left: -60px;
  padding-top: 108px;

  vertical-align: bottom;

}


.advertising__title {
  display: inline-block;
  width: 230px;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 84px;
  padding: 0;

  font-family: inherit;
  font-size: 24px;
  line-height: 1.2;
  font-weight: lighter;
  vertical-align: top;
}

.advertising__title--form {
  margin-bottom: 56px;
}
