.advertising {
  width: 320px;
  margin: 0 auto;

  text-align: center;
  color: #ffffff;
}

.advertising__image {
  display: block;
  margin-top: 108px;
}

.advertising__title {
  display: inline-block;
  width: 260px;
  margin: 0;
  margin-top: 29px;
  margin-bottom: 83px;
  padding: 0;

  font-size: 24px;
  line-height: 29px;
  font-weight: lighter;
  vertical-align: top;
}

.advertising__title--form {
  margin-bottom: 54px;
}
/*===================================================*/
@media (min-width: $tablet-width) {
  .advertising {
    width: auto;
  }

  .advertising__title {
    width: 490px;
    margin-top: 69px;
    margin-bottom: 139px;

    font-size: 50px;
    line-height: 60px;
  }

  .advertising__title--form {
    margin-bottom: 80px;
  }

  .advertising__image {
    width: auto;
    height: 544px;
    margin-left: -19px;
    margin-top: 74px;
  }
}
/*===================================================*/
@media (min-width: $desktop-width) {
  .advertising {
    width: 960px;
  }

  .advertising__title {
    margin-top: 62px;
    margin-bottom: 100px;
  }

  .advertising__title--form {
    width: 760px;
  }

  .advertising__image {
    width: auto;
    height: 645px;

    margin-top: 96px;
    margin-left: 28px;
  }
}
