.arguments {
  display: none;
}
/*==================================================*/
@media (min-width: $tablet-width) {
  .arguments {
    display: block;
    width: 100%;
    margin: 10px auto;

    & .container {
      padding-left: 0;
      padding-right: 10px;
    }
  }

  .arguments__wrapper {
    display: flex;
    justify-content: space-between;

    width: auto;
    margin: 0 auto;
  }

  .arguments-column-left {
    display: block;
    width: 250px;
    height: 280px;
    margin-top: 49px;

    text-align: center;

    background-image: url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-position: 0 1px;
    background-size: 238px;
  }

  .arguments-column-left__text {
    position: relative;

    display: block;
    margin-top: 97px;
    margin-left: 63px;

    font-size: 96px;
    font-weight: bold;
    color: $color-red;

    text-align: left;

    &::after {
      content: "";

      position: absolute;
      top: -41px;
      left: -44px;

      width: 202px;
      height: 202px;

      border: 14px solid $color-red;

      border-radius: 50%;

      box-shadow: inset 0 0 0 87px transparent;
    }
  }

  .arguments-column-right__heading {
    width: 170px;
    margin: 0;
    margin-top: 87px;
    margin-bottom: 10px;
    padding: 0;

    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
  }

  .arguments-column-right__text {
    width: 300px;
    margin: 0;
    margin-bottom: 12px;
    padding: 0;

    line-height: 24px;
    letter-spacing: 0.27px;

    & br:first-child {
      display: none;
    }
  }

  .arguments-column-right__link {
    font-family: inherit;
    font-size: 14px;
    line-height: normal;
    font-weight: lighter;
    letter-spacing: 0.27px;
    color: $color-red;
  }
}
/*==================================================*/
@media (min-width: $desktop-width) {
  .arguments {
    margin: 0;
    padding-bottom: 64px;

    background-color: $bg-grey;
  }

  .arguments__wrapper {
    width: 910px;
    margin-left: 0;
  }

  .arguments-column-left {
    display: block;
    width: 320px;
    height: 360px;
    margin-top: 13px;

    background-position: 10px 12px;
    background-size: 298px;
  }

  .arguments-column-left__text {
    position: relative;

    margin-top: 130px;
    margin-left: 89px;

    font-size: 122px;

    &::after {
      content: "";

      position: absolute;
      top: -51px;
      left: -56px;

      width: 252px;
      height: 252px;

      border: 16px solid $color-red;
    }
  }

  .arguments-column-right {
    display: block;
    width: 530px;
    margin-right: 4px;
    padding-top: 28px;
  }

  .arguments-column-right__heading {
    width: 300px;
    margin-bottom: 22px;

    & br {
      display: none;
    }
  }

  .arguments-column-right__text {
    width: 540px;
    margin-bottom: 29px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.4px;

    & br:last-child {
      display: none;
    }
  }

  .arguments-column-right__link {
    font-size: 18px;
    line-height: 32px;

    letter-spacing: 0.4px;
  }
}
