.button {
  display: inline-block;
  margin-bottom: 31px;
  padding: 15px 34px;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  color: inherit;
  text-decoration: none;

  border: 3px solid #ffffff;
  border-radius: 40px;
}

.button__submit--btn {
  padding: 21px 43px;

  color: #ffffff;
  text-transform: uppercase;

  border-radius: 6px;

  background-color: #2aab6d;
}

@media (min-width: $tablet-width) {
  .button__download-btn {
    margin-bottom: 44px;
    padding: 15px 45px;
  }
}
