.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 43px;

  text-align: center;
}

.contacts-header {
  margin: 0;
  margin-bottom: 38px;
  padding: 0;

  font-size: 24px;
  line-height: 1.2;
}

.contacts__wrapper {
  width: 260px;
}

.contacts__item {
  width: 250px;
}

.contacts__title {
  display: block;
  margin: 0;
  margin-bottom: 3px;
  padding: 0;

  font-size: 18px;
  font-weight: bold;
}

.contacts__value {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;

  font-size: 24px;
  line-height: 1.2;

  color: red;
}

.contacts__value:nth-child(2) {
  margin-bottom: 27px;
}

@media (min-width: $tablet-width) {
  .contacts-header {
    width: 380px;

    font-size: 40px;
  }

  .contacts__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 550px;
  }

  .contacts__item:last-child {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    width: 880px;
  }

  .contacts__item:nth-child(2) {
    order: 1;
  }
}
