.download {

  padding-top: 26px;

  color: #ffffff;
  text-align: center;

  background: #1d2631;
  }

.download__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 208px;
  margin: 0 auto 23px;
  padding: 0;
  list-style: none;
}

.button {
  display: inline-block;
  margin: 0;
  margin-bottom: 32px;
  padding: 15px 50px;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  color: inherit;
  text-decoration: none;

  border: 3px solid #ffffff;
  border-radius: 40px;
}

.download__button {
  display: inline-block;

  vertical-align: top;
}

.download__text {
  display: inline-block;
  width: 230px;
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
  line-height: 1.6;
}
