.main-nav {
  display: block;
  width: 320px;
  margin: 0 auto;
  background: $darkblue;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
  }
}


.main-nav__toggle {
  position: relative;
  display: block;
  width: 30px;
  height: 25px;

  background: $darkblue;

  border: none;

  cursor: pointer;
}

.main-nav__toggle::before,
.main-nav__toggle::after {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  width: 30px;
  height: 4px;

  background-color: $white;
  box-shadow: 0 10px  $white;
}

.main-nav__toggle::after {
  top: 10px;
}

.site-list {
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: center;

  & a {
    display: block;
    padding: 21px 0 21px;

    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
    color: $white;

    text-decoration: none;
    text-transform: uppercase;
  }
}

.site-list__item {
  border-bottom: 1px solid darken($darkblue, 100%);
  border-top: 1px solid lighten($darkblue, 10%);
}
