.map {
  padding-top: 15px;
}

.map__wrapper {
  width: 320px;
  height: 201px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center -90px;
}
