$main-nav: #283645;

.page-header {
  background: $main-nav;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;

  padding: 21px 17px 22px 20px;

  align-items: center;

  border-bottom: 1px solid darken($main-nav, 100%);

}
