.upload-photos {
  display: block;
  padding-top: 22px;
}

.upload-photos__container {
  width: auto;
  padding-bottom: 2px;

  background-color: $bg-grey;
}

.upload-photos__wrapper {
  display: block;
  width: 100%;
  padding-top: 18px;
}

.upload-photos__text {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 44px;
  padding: 0;

  line-height: 30px;
  letter-spacing: 0.3px;

  text-align: center;
}
/*===================================================*/
@media (min-width: $tablet-width) {
  .upload-photos {
    width: 100%;
    padding-top: 66px;
  }

  .upload-photos__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 660px;
    margin: 0 auto;
  }

  .upload-photos__image {
    width: 280px;
  }

  .upload-photos__item {
    padding-top: 40px;
    padding-right: 0;
  }

  .upload-photos__text {
    width: 430px;
    margin-bottom: 68px;

    font-size: 18px;
  }
}
/*===================================================*/
@media (min-width: $desktop-width) {
  .upload-photos {
    padding-top: 20px;
  }

  .upload-photos__text {
    margin-top: 11px;
    margin-bottom: 66px;
  }

  .upload-photos__container {
    width: 940px;
    margin: 0 auto;
  }

  .upload-photos__wrapper {
    margin: 0;
  }

  .upload-photos__item {
    padding-top: 37px;
    padding-left: 80px;
    padding-right: 61px;
  }
}
