.users-pictures__wrapper {
  display: block;
  width: 320px;
  margin-top: 20px;
}

.users-pictures {
  display: block;
  margin-bottom: 20px;

  background-color: $bg-grey;
}

.users-pictures--two {
  margin-bottom: 23px;
}

.users-pictures--three {
  margin-bottom: 21px;
}

.users-pictures--four {
  margin-bottom: 22px;
}

.users-pictures--five {
  margin-bottom: 22px;
}

.comment--bg-grey {
  width: 280px;

  background-color: $bg-grey;
}

.comment {
  display: block;
  padding-top: 18px;
  padding-left: 17px;
  padding-bottom: 25px;

  text-align: left;
}

.comment--panorama {
  position: relative;

  display: block;

  text-align: left;

  &::before {
    content: "Панорама дня";

    position: absolute;
    top: -140px;
    right: 0;

    display: block;
    width: 140px;
    padding: 9px 0;

    font-family: inherit;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    color: $white;

    text-align: center;
    text-transform: uppercase;

    background-color: $color-red;
  }
}

.comment__item {
  margin: 0 auto;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.comment__author {
  display: inline-block;
  margin-left: 1px;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  font-weight: lighter;
  text-transform: uppercase;
}

.comment__text {
  width: 243px;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  line-height: 24px;
  letter-spacing: 0.3px;
}

.comment__value {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 32px;

  font-size: 12px;
  line-height: 14px;
  color: $color-red;
  letter-spacing: 0.3px;
  text-transform: uppercase;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 13px;
    height: 13px;

    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
/*==================================================*/
@media (min-width: $tablet-width) {
  .users-pictures__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 660px;
    margin: 0 auto;
  }

  .users-pictures {
    margin-bottom: 23px;
  }

  .users-pictures--three,
  .users-pictures--four {
    margin-bottom: 23px;
  }

  .comment {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;

    margin-bottom: 0;
    padding-top: 25px;
    padding-left: 28px;
  }

  .comment__item {
    margin-left: 0;
  }

  .comment__text {
    margin-bottom: 18px;
  }

  .comment__value {
    padding-left: 0;
    padding-right: 29px;

    &::before {
      display: none;
    }

    &::after {
      content: "";

      position: absolute;
      top: 0;
      right: 32px;

      width: 13px;
      height: 13px;

      background-image: url("../img/icon-heart.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .comment--bg-grey {
    width: auto;
  }

  .comment--panorama {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 620px;
    padding-top: 25px;
    padding-left: 28px;
    padding-right: 29px;
    padding-bottom: 27px;

    &::before {
      top: -454px;
      right: 0;
    }
  }

  .comment__item--panorama {
    margin-left: 0;
  }

  .comment__text--panorama {
    order: 2;

    width: 520px;
    margin-bottom: 0;
  }

  .comment__value--panorama {
    padding-top: 2px;
    padding-right: 32px;

    &::before {
      display: none;
    }

    &::after {
      top: 0;
      right: 3px;
    }
  }
}
/*==================================================*/
@media (min-width: $desktop-width) {
  .users-pictures__wrapper {
    width: 960px;

    &.container {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .users-pictures {
    margin-bottom: 56px;
  }

  .comment--panorama {
    width: 940px;
    padding-top: 24px;
    padding-left: 28px;
    padding-right: 29px;
    padding-bottom: 24px;
  }

  .comment__text--panorama {
    width: 880px;

    letter-spacing: 0.26px;
  }
}
